<!-- footer.html -->
<link rel="stylesheet" href="/static/css/index.css">
<footer class="pie-pagina">
    <span>© Copyright <span id="anioActual"></span> – Panadería y Pastelería Manabita</span>

    <div class="footer-legal">
        <a href="javascript:void(0);" class="legal-link" id="abrirPrivacidad">
            Política de privacidad
        </a>
        <a href="javascript:void(0);" class="legal-link" id="abrirTerminos">
            Términos y condiciones
        </a>
        <span style="font-size:0.7rem;">Al usar este sistema aceptas nuestros términos</span>
    </div>
</footer>
<script src="/static/js/modal.js"></script>
